<div class="card text-center mb-3">
  <div class="card-body">
    <h5 class="card-title font-weight-bold">The best THP team ever seen</h5>
    <div class="card-text text-left">
    <p>Nothing would have been possible without them :</p>
		<ul>
			<li>Ray</li>
      <li>Raymond</li>
      <li>Robert</li>
      <li>Gislaine</li>

		</ul>
</div>
  </div>
</div>
