<div class="card text-center mb-3">
  <div class="card-body">
    <h5 class="card-title font-weight-bold">Please don't contact us!</h5>
    <div class="card-text">
    <p>Our hotline in a poor country with slaved employees</p>
		<ul>
      <li>0800 555 554 the monday and friday btw 10h-12h</li><br><br>
      <li>Our hotline in a poor country with slaved employees</li>
      <li>Our hotline for premium customers</li>
      <li>06 28 29 55 88  24/7</li>
      <li>Be responsible, get premium !</li><br><br><br><br><br>


		</ul>
</div>
  </div>
</div>
